* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  color:#333;
  background: #fff; 
  font-family: "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:0.94em;
  line-height:135%;
  
}

aside, nav, footer, header, section {
  display: block;
}

ul{
  list-style: none;
}

a, a:hover{
  text-decoration: none;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
  height: auto !important;
  margin-top: 40px;
}

.header{
  width: 100%;
  background: #0dbfe5;
  height: 57px;
  z-index: 4;
  margin-top: -40px;
}

#header-inner {
  width: 1200px;
  height: 250px;
  position: relative;
  border: 0px solid #333;
  margin: 0 auto;
  margin-top: 40px;
}

#content #col-left {
  background: #fff;
  float: left;
  width: 800px;
  margin-right: 0px;
}

#content #col-right {
  margin-left: 45px;
  float: left;
  width: 350px;
  position: relative;
}

#middle:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.top-menu-right {
  height: 57px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0px solid #1FA2E1;
}

.top-menu-right ul li{
  background: url(line.png) 0px 0px no-repeat; 
  float: left;
  height: 57px;
}

.top-menu-right ul{
  padding-left: 0px;
}

.top-menu-right ul li a{
  margin-top: 0px;
  font-weight: 100;
  border-right: 0px solid #adadad;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  padding: 16px 20px 21px 20px;
}

.top-menu-right ul li a:hover{
  background: #fff;
  color:#555;
}

.share-new {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 14px;
}

.share-new a{
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: 2px 0px 2px 0;
}

.share-new .icon-twitter{
  background: url(twitter-variation.png) 0 center no-repeat;
  padding: 4px 0px 0px 5px;
  font-size: 17px;
  margin-right: 3px;
}

.share-new .icon-rss{
  background: url(rss-variation.png) 0 center no-repeat;
  padding: 4px 0px 0px 5px;
  font-size: 17px;
  margin-right: 0px;
}

.share-new .icon-mail{
  background: url(email-variation.png) 0 center no-repeat;
  padding: 4px 0px 0px 5px;
  font-size: 17px;
  margin-right: 0px;
}


.logo{
  position: absolute;
  left: 0px;
  top: 90px;
}


.bottom-menu{
  width: 1200px;
  height: 70px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: url(bgmenu.png) 0px 0px repeat-x;
}

#dropdown_nav{
  font-weight: bold;
  display: inline-block;
  list-style: none;
  border-bottom: 0px solid #777;
  margin-top: 18px;
}

#dropdown_nav li{
  float: left;  /*?*/ 
  position: relative;
  display: inline-block;
}

#dropdown_nav li a{
  font-weight: 100;
  font-size: 18px;
  color: #fff;
  padding: 15px 22px 20px 22px;
  background: url(linemenu.png) right no-repeat;
  background-position: 99.5%;
  -moz-transition: background-color 0.3s 0.01s ease;
  -o-transition: background-color 0.3s 0.01s ease;
  -webkit-transition: background-color 0.3s 0.01s ease;
  transition: background-color 0.3s 0.01s ease;
}

#dropdown_nav li a:hover{
  background: #000;
  text-decoration: none;
  color: #0dbfe5;
}

#dropdown_nav li a.first{
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}


#dropdown_nav .sub_nav{
  z-index: 4;
  width: 180px;
  padding: 0px;
  position: absolute;
  top: 42px;
  left: 0px;
  border: 0px solid #ddd;
  border-top: none;
  background: #000;
}

#dropdown_nav .sub_nav li{
  width: 180px;
  padding: 0px;
}

#dropdown_nav .sub_nav li a{
  background: none;
  font-weight: normal;
  font-size: 15px;
  display: block;
  border-bottom: 0px solid #e5e0b3;
  padding-left: 10px;
  color: #fff;
}

#dropdown_nav .sub_nav li a:hover{
  background: #222;
  color: #0dbfe5;
}

#lpblock{
  background: rgb(238, 238, 238);
  margin: auto;
  margin-top: 193px;
  position: relative;
  width: 1200px;
  height: 104px;
  color: rgb(164, 164, 164);
  line-height: 104px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px;
}

#lpblock h2{
  font-weight: 100;
}

.raz{
  margin: 0 auto;
  border: 0px solid #333;
  background: #fff;
  width: 116px;
  height: 29px;
  margin-bottom: 50px;
  background: url(raz.png) 0px 0px no-repeat;
}

.post-box{
  border: 0px solid #333;
  background: #fff;
  width: 700px;
  margin-top: 46px;
  margin-left: 0px;
  margin-bottom: 50px;
} 

.post-box h2 a{
  font-family: "Segoe UI Semilight", "Segoe UI", Tahoma, Helvetica, Sans-Serif;
  color:#000;
  font-style: normal;
  font-weight: 100;
  font-size: 33px;
  line-height: 35px;
  display: inline-block;
  width: 550px;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
  transition: all 0.3s 0.01s ease;
} 

.post-box h2 a:hover{
  color: #0dbfe5;
}

.post-box .text-preview{
  border: 0px solid #333;
  width: 800px;
  margin-bottom: 30px;
}

.post-box .text-preview p{
  margin-top: 0;
}

.postBox .post-thumb{
  margin: 0px 0px 15px 0;
}

.post-box .post-meta{
  padding-bottom: 15px;
  clear: left;
  overflow: hidden;
}

.post-box .info{
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(156, 156, 156);
}

.post-box .info a{
  color: rgb(112, 111, 111);
}

.post-box .info a:visited{
  color: rgb(112, 111, 111);
}

.more-link a{
  border-radius: 3px;
  background: #0dbfe5;
  margin-top: 30px;
  font-weight: 600;
  color: #fff;
  font-size: 17px;
  padding: 6px 25px 9px 25px;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.more-link a:hover{
  background: #000;
  color: #0dbfe5;
}


#form-querry {
  position: relative;
  background: #eeeeee;
  border: 0px solid #e4e4e4;
  width: 334px;
  height: 31px;
  padding: 8px 10px 7px;
  font-weight: 100;
  font-size: 18px;
  color:#000;
  margin-top: 46px;
  margin-bottom: 30px;
}

#form-querysub{
  position: absolute;
  right: 15px;
  top: 60px;
  width: 17px;
  height: 17px;
  background: url(search.png);
  border: none;
}

#form-querysub:hover{
  cursor: pointer;
}

.right-box{
  margin-top:0px;
  margin-left: 0px;
  width: 330px;
  margin-bottom: 30px;
}

.right-box h2{
  width: 335px;
  background: #f7f7f7 url(vidget.png) 320px 14px no-repeat;
  font-size:18px;
  font-family: "Segoe UI Semibold", Tahoma, Helvetica, Sans-Serif;
  color: #333;
  display: block;
  padding: 10px 0 15px 20px;
}

.right-box ul li{
  width: 350px;
  padding: 10px 0px;
  border-bottom: 1px solid #f6f6f6;
  font-size: 14px;
  line-height: 16px;
}

.right-box a{
  color: #333;
}

.right-box a:hover {
  color: #0dbfe5;
}

#footer{
  margin-top: 50px;
  height: 100px;
  width: 100%;
  background: #0dbfe5;
}

#footer-inner {
  position: relative;
  border: 0px solid #000;
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}

#footerlogo{
  position: absolute;
  left: 0px;
  top: 25px;
}

.footernav{
  position: absolute;
  right: 0px;
  top: 35px;
}

.footernav ul li{
  float: left;
}

.footernav ul li a{
  margin-top: 0px;
  font-weight: 100;
  border-right: 0px solid #adadad;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  padding: 0px 0px 0px 25px;
}

.footernav ul li a:hover{
  color: #333;
}
